$primary: $dark-green;
$secondary: $light-green;
$success: $green;
$light: $light-green;
$dark: $dark-green;

$body-bg: $white;

$font-size-base: 1rem;
$h3-font-size:                $font-size-base * 1.5;
$h4-font-size:                $font-size-base * 1.25;
$h5-font-size:                $font-size-base * 1.1;

$headings-color: $primary;
$body-color: $primary;

$nav-underline-link-active-color: $primary;

$dropdown-link-color: $primary;
$dropdown-link-hover-color: $secondary;
$dropdown-link-hover-bg: $primary;
$dropdown-link-active-color: $secondary;
$dropdown-link-active-bg: $primary;