version: '3.7'

services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - cod4-completionist-data:/var/lib/mysql

  nginx:
    image: nginx:alpine
    depends_on:
      - php
    volumes:
      - '../:/srv'
      - './nginx/config/nginx.conf:/etc/nginx/conf.d/default.conf:ro'

  php:
    build:
      context: ./php
    volumes:
      - '../:/srv'
      - './php/php.ini:/usr/local/etc/php/conf.d/custom.ini'
    environment:
      DB_HOST: mysql
      DB_USER: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
      DB_NAME: ${MYSQL_DATABASE}

volumes:
  cod4-completionist-data: { }
