@import "abstracts/colors";
@import "abstracts/fonts";
@import "abstracts/variables";

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "layout/header";
@import "layout/main";
@import "layout/footer";
@import "layout/text";

@import "component/wiki_entity";

@import "component/weapon";
@import "component/perk";
@import "component/streak";
@import "component/map";
@import "component/campaign_mission";

html {

}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}