<nav class="navbar">
    <span class="navbar-text">
      Made by Adsy
    </span>
    <ul class="nav nav-underline justify-content-end">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url('about') }}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="https://gitlab.com/Adsy/cod4-completionist">Git</a>
        </li>
    </ul>
</nav>